{
    "plugins": [
        ["styled-jsx/babel", {
            "plugins": ["styled-jsx-plugin-stylus"]
        }],
        ["module-resolver", {
            "root": ["./"],
            "alias": {
                "components": "./components"
            }
        }]
    ],
    "presets": [
        "next/babel"
    ],
    "ignore": []
}
