{
    "plugins": [
      [
        "styled-jsx/babel",
        {
            "plugins": [
                "styled-jsx-plugin-stylus"
            ]
        }
      ]
    ],
    "presets": [
      "next/babel"
    ],
    "ignore": []
  }
